{% if flash.getFirstMessage('info') %}
	<div class="alert alert-icon alert-primary alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"></button>
	  	<i class="fe fe-bell mr-2" aria-hidden="true"></i> {{ flash.getFirstMessage('info') }} 
	</div>
{% endif %}

{% if flash.getFirstMessage('success') %}
	<div class="alert alert-icon alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"></button>
	  	<i class="fe fe-check mr-2" aria-hidden="true"></i> {{ flash.getFirstMessage('success') }} 
	</div>
{% endif %}

{% if flash.getFirstMessage('error') %}
	<div class="alert alert-icon alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"></button>
	  	<i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{ flash.getFirstMessage('error') }} 
	</div>
{% endif %}